* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;

  .side-bar {
    width: 300px;
    background-color: #253141;
    &__user-name {
      height: 100px;
      display: flex;
      align-items: center;
    } 
      .top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
        &__name {
          font-size: 16px;
          color: #ffffff;
          display: flex;
          align-items: center;
        }
        &__icons {
          width: 60px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          a {
            color: white
          }
        }
          &__icons-edit {
          padding-right: 5px;
          }
      }   
    .side-bar__group-list {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 0 20px;
      overflow: scroll;
      &__box {
        font-weight: bolder;
        padding: 20px 0 40px 0;
        a {
          color: #ffffff;
          text-decoration: none;
          &__name {
            font-size: 15px; 
          }
          &__comment {
          font-size: 11px;
          }
        }
      } 
    }
  }
  .chat-main {
    background-color: #ffffff;
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: 1px solid #eeeeee;
    &__group {
      background-color: #ffffff;
      height: 100px;
      display: flex;
      padding: 0 40px;
      justify-content: space-between;
      &__right {
        &__current {
          font-size: 20px;
          margin-top: 35px;
          color: #333333;
        }
        &__member {
          margin-top: 15px;
          display: flex;
          color: #999999;
          font-size: 12px;
          &__list {
            color: #999999;
          }
        }
      }     
      a {
        border: 1px solid #38AEF0;
        color: #38AEF0;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        text-decoration: none;
      }   
    } 
    
    .chat-main__message {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      box-sizing: border-box;
      padding: 35px 40px 0;
      overflow: scroll;
      &__box {
        margin-bottom: 46px;
        &__info {
          display: flex;
          &__username{
            color: #333333;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
      }
      &__posting {
        margin: 12px 0 46px 0;
        font-size: 12px;
        color: #434a54;
      }
    }
    .chat-main__message-form {
      background-color: #d2d2d2;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__box {
        display: flex;
        justify-content: space-between;
        &__in {
          width: 100%;
          background-color: #fff;
          position: relative;
          &__text {
            border: none;
            height: 50px;
            width: 100%;
            padding: 0 45px 0 15px;
          }
          &__image {
            height: 50px;
            position: absolute;
            right: 10px;
            &__hidden {
              display: none;
            }
          }
        }
      }  
      &__submit {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #eeeeee;
        font-size: 15px;
        color: #1a1d21;
        cursor: pointer;
      }    
    }
  }
}  